@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #1b1919;
  font-family: 'Roboto Mono', monospace;
  margin: auto;
  max-width: 70ch;
  color: #EFF1F3;
}
